[core]
	autocrlf = false
	editor = vim
	fscache = true
	quotepath = false
	precomposeunicode = true
	preloadindex = true
    excludesfile = ~/.gitignore
	ignorecase = false
	pager = less -R -F -X

[commit]
	gpgsign = true

[user]
	name = Pine Mizune
	email = pinemz@gmail.com
	signingkey = 9F69CCA2DEF16377BAEDDF64E9DB4E782EBE0F76

[fetch]
	prune = true

[push]
	default = current

[pull]
	rebase = true
	prune = true

[merge]
	ff = false

[branch]
	autosetupmerge = false

[color]
	ui = auto

[alias]
	# shortcut
	s = status
	d = diff
	dc = diff --cached
	dw = diff --ignore-space-change
	sync = !git pull && git push
	master = checkout master
	develop = checkout develop
	dev = checkout develop

	# http://qiita.com/masarufuruya/items/7480854d4bc2f0443fc1
	graph = log --graph --oneline --decorate

	# for typo
	psuh = push
	puhs = push
	pshu = push

[merge "mergepbx"]
    name = XCode project files merger
    driver = ~/bin/mergepbx %O %A %B

[include]
	path = .gitconfig.local

# vim: se noet ts=4 sw=4 sts=4 ft=gitconfig :
