[core]
	autocrlf = false
	editor = vim
	quotepath = false
	precomposeunicode = true
    excludesfile = ~/.gitignore

[user]
	name = Pine Mizune
	email = pinemz@gmail.com

[push]
	default = current

[pull]
	rebase = true

[merge]
	ff = false

[branch]
	autosetupmerge = always

[color]
	ui = auto

[alias]
	# shortcut
	s = status
	d = diff
	dc = diff --cached
	sync = !git pull && git push
	master = checkout master
	dev = checkout develop

	# http://qiita.com/masarufuruya/items/7480854d4bc2f0443fc1
	graph = log --graph --oneline --decorate

[merge "mergepbx"]
    name = XCode project files merger
    driver = ~/local/bin/mergepbx %O %A %B

[include]
	path = .gitconfig.local

# vim: se noet ts=4 sw=4 sts=4 ft=gitconfig :
